doctype html
html(lang="en")
  head
    title  Mat Utter Developer
    link(rel='stylesheet', href='bootstrap.css')
    link(rel='stylesheet', href='my.css')
    script(type='text/javascript' src="jquery.js")
    script(type='text/javascript' src="bootstrap.min.js")
    script(type='text/javascript' src="my.js")

  body
    nav
      -for(var n in nav)
        div(class="nav-#{n}")
          -for(var i=0; i<nav[n].length; i++)
            .nav-button(type="button", data-toggle="tooltip", data-placement="right", title="#{nav[n][i].tooltip}" class="#{page==nav[n][i].page?'active':''}")
              a(class="glyphicon #{nav[n][i].icon}" href="#{nav[n][i].location}")

    block content

  .col-lg-12.h6.foot(style="background:#191818; border-top:1px solid #222; padding:40px 0 20px 0;")
    .col-sm-4
      img(src="matutterlogotrim.png" width="131.5" height="78.5")
    .col-sm-4  
        ul.list-unstyled
          li  
            a(href="http://www.github.com/matutter") Mat Utter &copy; 
            | Contact me at 
            a(href='mailto:admin@codemassively.com') mat@codemassively.com.
          li I maintain this code right 
            a(href="https://github.com/matutter/Massively") here on Github
            | .
          li Built on 
            a(href='http://nodejs.org/') NodeJS 
            | for 
            a(href='https://github.com/matutter/Masset2') Masset
            | .
          li Style borrows from  
            a(href='http://http://teamtreehouse.com/') TreeHouse. 

link(rel='stylesheet', href='#{page}.css')
-if(page != 'index')
  script(type='text/javascript' src="#{page}.js")