extends layout

block content
  - if(admin && user)
    generate.grad(id="")
      .hook
        span.glyphicon.glyphicon-chevron-down
      .shoot
      .generate-body
        form(method="post" target="self" name='home')
          h1.page-header Add caption to rotation
          label Title
          label.pull-right.shade1 *
          input.form-control#price(type="text" name="title")

          label Description
          label.pull-right.shade1 *
          textarea.form-control(style="resize:none;" rows="4"  name="desc")

          span.dropper#dropper Add background image
          input#uriImage(hidden name="img")

          button.btn.btn-default(name='form' value='home') Submit

  .carousel.slide#myCarousel(data-ride="carousel")
    ol.carousel-indicators
      - var once = "active"
      - for(var i=0; i<docs.length; i++)
        li(data-target="#myCarousel" data-slide-to=i class=once)
        - once = ""
      
    .carousel-inner
      - var once = "active"
      - each doc in docs
        .item(class=once style="background:url(" + doc.img + ");")
          .container
            //img(src=doc.img)
            .carousel-caption
              h1 #{doc.title}
              p  #{doc.desc}
        - once = ""

    a.left.carousel-control(href="#myCarousel" data-slide="prev")
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href="#myCarousel" data-slide="next")
      span.glyphicon.glyphicon-chevron-right