doctype html
html
  head
    link(rel='stylesheet', href='bootstrap.min.css')
    link(rel='stylesheet', href='regular.css')
    title #{page}
  body(id=page)
    //debug
    nav.navbar.navbar-default(role="navigation")
      .container-fluid
        
        .container
          ul.nav.navbar-nav
            - each link in nav.left
              - if( link == page )
                li.active(id='#{link}')
                  a(href='#{link}') #{link}              
              - else
                li(id='#{link}')
                  a(href='#{link}') #{link}
          ul.nav.navbar-nav.navbar-right
            - if( user )
              li
                form#logout(method="post")
                  input#token(hidden name="token" value=token)
                  input#user(hidden name="user" value=user)
                  button.btn.logout(name="form" value="logout") Logout #{user}
            - each link in nav.right
              - if( link == page )
                li.active(id='#{link}')
                  a(href='#{link}') #{link}              
              - else
                li.navbar-right(id='#{link}')
                  a(href='#{link}') #{link}



    block content

  footer
    script(type='text/javascript' src='jquery.js')
    - if( page == "parts" || page == "home" )
      script(type='text/javascript' src='holder.js')
    script(type='text/javascript' src="/socket.io/socket.io.js")
    script(type='text/javascript' src='regular.js')
    script(type='text/javascript' src='bootstrap.min.js')

.navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#nav-collapse')
            span.sr-only Toggle Navbar 
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.sr-only(href='/') The MXX Team

      .collapse.navbar-collapse#nav-collapse