extends layout

block content
  - if(admin && user)
    generate.grad(id="")
      .hook
        span.glyphicon.glyphicon-chevron-down
      .shoot
      .generate-body
        form(method="post" target="self" name='parts')
          h1.page-header Add new part
          label Price
          label.pull-right.shade1 *
          input.form-control#price(placeholder="$$$" type="number" name="price")
          label URL purchased from
          label.pull-right.shade1 *
          input.form-control#url(placeholder="http://" name="url")
          label Part name
          label.pull-right.shade1 *
          input.form-control#name(placeholder="..." name="name")
          span.dropper#dropper Drop Image here
          input#uriImage(hidden name="img")
          label Specs list
          label.pull-right.blue1 leave blank to omit
          table.table
            - for (var i = 0; i < 12; ++i)
              tr 
                td
                  input.form-control(name="left" + i placeholder="feature")
                td
                  input.form-control(name="right" + i placeholder="description")
          label Description
          label.pull-right.blue1 leave blank to omit
          textarea.form-control(style="resize:none;" rows="4"  name="desc")

          button.btn.btn-default(name='form' value='parts') Submit

  section.container.parts
    - each part in docs
      .col-ms-12.part-box
        .media
          - if(admin && user)
            .tab-box
              .tab
                span.glyphicon.glyphicon-cog
              .tab.tab-over 
                a.delete(id=part._id page=page) Delete?
          - if( part.img )
            img.media-object.pull-left(src=part.img alt=part.img width="270")
          - else
            img.media-object.pull-left( data-src="holder.js/270x200/#404040:#101010/text:Missing" )
          .media-body
            .media-heading
              h4 #{part.name}
              label
                a.shade1(src=part.url) Vendor link
              label Price $#{part.price}
            table.table
              tbody
                - for (var row = 0; row < part.left.length; row++  )
                  tr
                    td #{part.left[row]}
                    td #{part.right[row]}



section.container.parts
    - each part in docs
      .col-md-4.part-box
          - if(admin && user)
            .tab
              span.glyphicon.glyphicon-cog
            .tab.tab-over 
              a.delete(id=part._id page=page) Delete?
          .container.img-wrap.col-sm-4
            - if( part.img )
              img(src=part.img alt=part.img width="270" height="200")
            - else
              img( data-src="holder.js/270x200/#101010:#980f13" src=part.img alt=part.img )
          .col-sm-8
            span.link
              a(href=part.url) Vendor link
            .price $#{part.price}
            label #{part.name}
            table.table
              tbody
                - for (var row = 0; row < part.left.length; row++  )
                  tr
                    td #{part.left[row]}
                    td #{part.right[row]}
            